.App {
  text-align: center;
  display: grid;
  grid-template-columns: 100px 1fr;
}

.app-content {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr;
  grid-column-gap: 10px;
}